:root{
  --primary-color:#a9eee6;
  --secondary-color:#fefaec;
  --third-color: #f9a1bc;
  --fourth-color:#625772;
  --heading-font:'Chewy', cursive;
  --content-font:'Shadows Into Light', cursive;
  --border-radius: 5px;
}

@media(max-width:1221px){
  .picture{
    display:none;
  }
}

@media(max-width:994px){
  .first-row{
    display:none;
  }
}

.head{
  background-color: var(--secondary-color);
  padding: 130px 50px;
  text-align: center;
}

.navbar{
  background-color: #fff3ca58;
  border: 0.5px solid var(--secondary-color);
}
.head h1{
  font-family: var(--heading-font);
  font-size: 40px;
}

.head p{
  font-family: var(--content-font);
  font-size: 20px;
}


.head h2{
  font-family: var(--content-font);
  margin-top: 30px;
  color:var(--fourth-color);
  font-size: 30px;
}


.btn-branding{
  background-color:var(--third-color) ;
  color:black;
  padding: 10px 30px;
  border-radius:var(--border-radius);
  margin: 30px;
  text-decoration: none;
  -webkit-border-radius:var(--border-radius);
  -moz-border-radius:var(--border-radius);
  -ms-border-radius:var(--border-radius);
  -o-border-radius:var(--border-radius);
}



.row{
  margin:60px ;
}

img{
  border:2px solid var(--secondary-color);
  border-radius: 3px;
}

.row .description{
  padding: 20px;
  margin-top: 30px;
}

.row h1,h3{
  font-family: var(--heading-font); 
}

.content p{
  font-size: 0.5px;
}

.row p{
  font-family: var(--content-font);
  line-height: 1.7;
  font-size: 25px;
}

.btn-joining{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.btn-joining:hover{
  cursor: pointer;
  background-color: white;
  color:var(--primary-color);
}

.content .row{
  margin:80px 20px;
}

#pic{
  max-width: 250px;
  border: 0;
  box-shadow: 1px 1px 1px 1px hsl(0, 0%, 50%,0.50);
}


.content .info{
  font-size: 15px;
  margin-top: 10px;
  font-family: var(--content-font);
}

.content .btn{
  padding: 5px 50px;
  background-color: var(--secondary-color);
  color: var(--fourth-color);
}

.personal-info{
  text-align: left;
}

.personal-info p{
  font-family: var(--heading-font);
  opacity: 0.9;
  line-height: 1.7;
}

.welcome-sentence{
  font-size: 24px;
  font-family: var(--heading-font);
  font-weight: bold;
  color: #625772;
}

#contact-me{
  background-color: var(--third-color);
  opacity: 0.6;
  text-align: center;
  border-radius:50px 0 50px 0;
  margin: 150px 50px;
  padding: 70px 50px;
}

#contact-me h2{
  font-size: 43px;
  font-family: var(--heading-font);
  color: hsl(342, 80%, 58%,0.5);
}

#contact-me a{
  font-size: 20px;
  color: #f12562;
  opacity:1 ;
  font-family: var(--heading-font);
  text-decoration: none;
}

#contact-btn{
  font-family: var(--content-font);
  font-weight: bolder;
}
#contact-btn:hover{
  cursor: pointer;
  color: white;
}
#contact-me a:hover{
  color:white ;
}

footer .footer-text{
  font-family: var(--heading-font);
  color: var(--fourth-color);
  font-size: 34px;
}
footer .social-link a{
  text-decoration: none;
  font-size: 30px;
  color: black;


}

footer .social-link a:hover{
  color: var(--fourth-color);
}

.github-link{
  color: var(--fourth-color);
  text-align: center;
  font-family: var(--content-font);
}

.github-link a{
  text-decoration: none;
}