:root{
  --primary-color:#a9eee6;
  --secondary-color:#fefaec;
  --third-color: #f9a1bc;
  --fourth-color:#625772;
  --heading-font:'Chewy', cursive;
  --content-font:'Shadows Into Light', cursive;
  --border-radius: 5px;
}

@media(max-width:1221px){
  .picture{
    display:none;
  }

}
body{
  text-align: center;
}

.head{
  background-color: var(--secondary-color);
  padding: 130px 50px;
}

.navbar{
  background-color: #fff3ca58;
  border: 0.5px solid var(--secondary-color);
}
.head h1{
  font-family: var(--heading-font);
  font-size: 40px;
}

.head p{
  font-family: var(--content-font);
  font-size: 20px;
}


.head h2{
  font-family: var(--content-font);
  margin-top: 30px;
  color:var(--fourth-color);
  font-size: 30px;
}

.btn-contact{
  margin-top: 60px;
}
.btn-branding{
  background-color:var(--third-color) ;
  color:black;
  padding: 10px 30px;
  border-radius:var(--border-radius);
  margin: 30px;
  text-decoration: none;
  -webkit-border-radius:var(--border-radius);
  -moz-border-radius:var(--border-radius);
  -ms-border-radius:var(--border-radius);
  -o-border-radius:var(--border-radius);
}

.container{
  margin-top: 30px;
}

.row{
  margin:60px ;
}

img{

  border:2px solid var(--secondary-color);
  border-radius: 3px;
}

.row .description{
  padding: 20px;
  margin-top: 30px;
}
.row h1{
  font-family: var(--heading-font); 
}


.row p{
  font-family: var(--content-font);
  line-height: 1.7;
  font-size: 25px;
}

.btn-joining{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.btn-joining:hover{
  cursor: pointer;
  background-color: white;
  color:var(--primary-color);
}